/* .toffeenut {
    color: burlywood;
} */

/* 6. 상위 객체에 의해 상속된 속성 */
div {
    color: red;
}

/* 5. 태그 이름으로 지정한 속성 */
h1 {
    color: blue;
}

/* 4. 클래스 이름으로 지정한 속성 */
.latte {
    color: brown;
}

/* 3. id로 지정한 속성 */
#toffee {
    color: yellow;
}

/* 2. HTML에서 style을 직접 지정한 속성 */

/* 1. 속성값 뒤에 !important를 붙인 속성 */
h1 {
    color: black !important;
}